* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERELLE REGLER*/
body {
    background-color:#fefae6;
}


h1 {
    font-family:'Fjalla One', sans-serif;
    letter-spacing: 1px;
    color: #CEA948;
}


p {
    line-height: 1.3;
    font-size: 14pt;
    font-family:'Comfortaa', cursive;
    letter-spacing: 0.7px;
    color: #CEA948;
}

.climatecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Comfortaa', cursive;
    flex-wrap:wrap;
    padding-bottom: 400px;
    }
    
    
    .climatecontainer div{
    justify-content:space-evenly;
    margin-top:100px;
    width: 500px;
    height: 350px;
    align-items: center;
    flex-wrap: wrap;/*overvej flexwrap, og hvis ikke, hvad så i stedet?*/
    text-align:left;
    }

    .workingconditioncontainer{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        justify-content: center;
        font-family:'Comfortaa', cursive;
        flex-wrap:wrap;
        padding-bottom: 400px;
        }
        
        
    .workingconditioncontainer div{
        width: 500px;
        height: 350px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;/*overvej flexwrap, og hvis ikke, hvad så i stedet?*/
        text-align:left;
        }   

        /*MOBILE RESPONSIVE*/
        @media screen and (max-width:910px){

            .climatecontainer {
                flex-direction: column;
                align-items: center;
                display: flex;
             }

             .workingconditioncontainer{
                flex-direction: column;
                align-items: center;
                display: flex;
             }

            .climatecontainer div{
                width:300px;
                gap:100px;
                margin-bottom:150px;
            }

            .climatecontainer img{
                width:95%;
            }
        
            .workingconditioncontainer div{
                width:80%;
                gap:100px;
            }

            .workingconditioncontainer img{
                width:95%;
            }

        }